body {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 600px;
  overflow: hidden;
  background-color: var(--color-background);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
